

<section id="chat-container">
	<header id="chat-header">
		<h2>Showing {{ chat.color == 'clear' ? 'all' : chat.color }} messages</h2>

		<span>
			<span>Filter:</span>
			<button ng-class="'clear-button ' + (chat.color == 'clear' ? 'active' : '')" ng-click="chat.filter('clear')">All</button>
			<button ng-class="'red-button ' + (chat.color == 'red' ? 'active' : '')" ng-click="chat.filter('red')">R</button>
			<button ng-class="'green-button ' + (chat.color == 'green' ? 'active' : '')" ng-click="chat.filter('green')">G</button>
			<button ng-class="'blue-button ' + (chat.color == 'blue' ? 'active' : '')" ng-click="chat.filter('blue')">B</button>
			<button ng-class="'yellow-button ' + (chat.color == 'yellow' ? 'active' : '')" ng-click="chat.filter('yellow')">Y</button>
		</span>
	</header>
	
	
	<section id="messages-container" auto-scroll>
		<div ng-class="'message ' + message.color"
			ng-repeat="message in chat.messages"
			ng-if="chat.color == message.color || chat.color == 'clear'"
		>
			<span><strong>{{ message.username + ' :' }}</strong>{{ ' ' + message.content }}</span>
			<span>{{ message.created_at | date: 'M/d, h:mm a' }}</span>
		</div>
	</section>

	<section id="new-message">
		<form>
			<div id="new-message-text">
				<input type="text"
					placeholder="Type your message - 120 character max!"
					maxlength="120"
					ng-model="chat.message.content"
				/>
				
				<button id="send-message" ng-class="chat.message.color" ng-click="chat.sendMessage()" ng-disabled="!chat.message.content">Send</button>
			</div>

			<div id="new-message-color">
				<span>Message color:</span>

				<button ng-class="'clear-button ' + (chat.message.color == 'clear' ? 'active' : '')" ng-click="chat.setMessageColor('clear')">All</button>
				<button ng-class="'red-button ' + (chat.message.color == 'red' ? 'active' : '')" ng-click="chat.setMessageColor('red')">R</button>
				<button ng-class="'green-button ' + (chat.message.color == 'green' ? 'active' : '')" ng-click="chat.setMessageColor('green')">G</button>
				<button ng-class="'blue-button ' + (chat.message.color == 'blue' ? 'active' : '')" ng-click="chat.setMessageColor('blue')">B</button>
				<button ng-class="'yellow-button ' + (chat.message.color == 'yellow' ? 'active' : '')" ng-click="chat.setMessageColor('yellow')">Y</button>
			</div>
		</form>
	</section>
	
	<div id="logout">
		<span>Logged in as {{ chat.message.username }}</span>
		<button ng-click="chat.logout()">Logout</button>
	</div>
</section>

