

<section id="chat-container">
	<header id="chat-color-selector">
		<h1>CHATROOM</h1>
		<button class="clear-button" ng-click="chat.filter('clear')">All</button>
		<button class="red-button" ng-click="chat.filter('red')">Red</button>
		<button class="blue-button" ng-click="chat.filter('blue')">Blue</button>
		<button class="green-button" ng-click="chat.filter('green')">Green</button>
		<button class="yellow-button" ng-click="chat.filter('yellow')">Yellow</button>
	</header>
	
	<h2>Below are all {{ chat.color == 'all' ? '' : chat.color }} messages:</h2>
	
	<section id="messages-container">
		<p class="message"
			ng-repeat="message in chat.messages"
			ng-if="chat.color == message.color || chat.color == 'clear'"
			ng-style="{ background: message.color }"
		>
			{{ message.username + ':' + message.content }}
			<br/>
			{{ message.created_at | date: 'MMM d, HH:mm' }}
		</p>
	</section>

	<section id='new-message'>
		<form id="sendoptions">
			<span>Choose your chat palette:</span>

			<button class="clear-button" ng-click="chat.setMessageColor('clear')">Clear</button>
			<button class="red-button" ng-click="chat.setMessageColor('red')">Red</button>
			<button class="blue-button" ng-click="chat.setMessageColor('blue')">Blue</button>
			<button class="green-button" ng-click="chat.setMessageColor('green')">Green</button>
			<button class="yellow-button" ng-click="chat.setMessageColor('yellow')">Yellow</button>

			<input
				type="text"
				placeholder="Type your message - 120 character max!"
				maxlength="120"
				required
				ng-class="chat.messageColor"
				ng-model="chat.message.content"
			/>

			<button id="send-message" ng-click="chat.sendMessage()">Send</button>
		</form> 
	</section>

	<span id="username">Logged in as {{ chat.message.username }}</span>
	<button id="logout" ng-click="chat.logout()">Logout</button>
</section>

