/**
 * Default styles for Chat Palette - A CSS Reset (or “Reset CSS”) is a short, 
 * often compressed (minified) set of CSS rules that resets the styling of all 
 * HTML elements to a consistent baseline. Sample from Eric Meyer's CSS Reset 2.0
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/**
 * HTML5 display-role reset for older browsers
 */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

section {
    display: inline-block;
    margin: 0 1.5%;
    width: 100%;
}

body {
    margin-top: 30px;
    line-height: 1;
}

ol, ul, li {
     list-style-type: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * START - CHAT PALETTE STYLING Body container - in index.html; but used in every template
 */

.container {
    margin: 0 auto;
    width: 980px;
    text-align: center;
}

/**
 * Main Page Header Palette
 */

#appHeader {
  padding: 30px 0 10px 10px;
  height: 100%;
  width: 970px;
  text-align: center;
  font-size: 50px;
  margin-left: 125px;
  border-radius: 5px;
}

#appTitle {
  padding-top: 20px;
}

/**
 * Login template styles - section container
 */

.loginTemplate {
    float: left;
    align-content: center;
    margin-top: 20px;
    margin-left: 470px;
    height: 280px;
    width: 400px;
    border-radius: 5px;
    background: linear-gradient(#8e9eab, #eef2f3);
}

/**
 * Login form styles - username, password, and login button
 */

.loginForm input {
  height: 30px;
  width: 380px;
  font-size: large;
  text-align: center;
  margin-left: 2px;
}

#loginInput {
  padding-bottom: 10px;
}

.loginForm button {
  height: 30px;
  width: 386px;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
}

.loginForm a {
  font-size: large;
}

#loginHeader {
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 100px;
  padding-bottom: 20px;
}

#login {
  padding: 20px 5px;
}

#loginSignUp {
  font-size: larger;
  margin-left: 30px;
}

/**
 * Sign Up Template styles - section container
 */

.signupTemplate {
    float: left;
    align-content: center;
    margin-top: 20px;
    margin-left: 470px;
    height: 280px;
    width: 400px;
    border-radius: 5px;
    background: linear-gradient(#8e9eab, #eef2f3);
}

/**
 * Signin form styles - username, password, and login button
 */

.signUpForm input {
  height: 30px;
  width: 380px;
  font-size: large;
  text-align: center;
  margin-left: 2px;
}

#signupInput {
  padding-bottom: 10px;
}

.signUpForm button {
  height: 30px;
  width: 386px;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;

}

.signupForm a {
  font-size: large;
}

#signupHeader {
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 130px;
  padding-bottom: 20px;
}

#signup {
  padding: 20px 5px;
}

#signUpLogin {
  font-size: larger;
  padding-top: 20px;
  margin-left: 85px;
}

/**
 * Chatroom Styles - Container styles for workspace
 */

/**
 * Headers - this style affects all header tags
 */

h1 {
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding-right: 70px;
    text-align: center;
}

h2 {
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}

/**
 * Chatroom top bar 
 */

.chatroom {
    margin-left: 20px;
    margin-bottom: 20px;
}

.chatroom h1 {
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding-right: 20px;
    text-align: center;
}

/**
 * Chat buttons color 
 */

.buttons {
  float: left;
  height: 100%;
  width: 99%;
  background-color: #f2f2f2;
  border-radius: 5px;

   /** 
    * Individual browser styles
    * For browsers that do not support gradients 
    */

  background: #8e9eab; 
  /**
   * For Safari 5.1 to 6.0 
   */
  background: -webkit-linear-gradient(#8e9eab, #eef2f3); 
  /**
   * For Opera 11.1 to 12.0
   */
  background: -o-linear-gradient(#8e9eab, #eef2f3); 
  /**
   * For Firefox 3.6 to 15 
   */
  background: -moz-linear-gradient(#8e9eab, #eef2f3); 
  /**
   * Standard syntax 
   */
  background: linear-gradient(#8e9eab, #eef2f3);
  }

 /**
  * Same styles for each navigation button 
  */

.chatroom button {
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

/**
 * Set the background color of each button in nav bar
 */

#all, #logout {
    background-color: none;
    font-size: large;
}

#red {
    background-color: red;
    font-size: large;
}

#blue {
    background-color: blue;
    font-size: large;
}

#green {
    background-color: green;
    font-size: large;
}

#yellow {
    background-color: yellow;
    font-size: large;
}

/**
 * Display chatroom messages
 */

.scrollable {
  overflow-x: scroll;
  height: 400px;
  width: 975px;
}

.msg {
    float: left;
    height: 50%;
    width: 100%;
    position:relative;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    font-size: 30px;
    margin: 0 auto;
}

/**
 * Container for all chat messages from the server
 */

ul {
  width: 100%;
}

#messagecontainer {
    margin-left: 5px;
    /*padding-right: 30px;*/
    background-color: #ebf0fa;
    border-radius: 10px;
    height: 500px;
    width: 970px;
}

.messagelisting {
    float: left;
    background-color: gray;
}

/**
 * Styles each message
 */

.singlemessage {
    text-align: left;
    font-size: 23px;
    height:30px;
    width: 93%;
    margin: 20px;
    border-style: groove;
    border-color: #e6e6e6;
    color: #000000;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
}

/**
 * Input area for the new chat message to the stream
 */

#userid {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  font-size: large;
  text-align: center;
}

#messagetosend {
    width: 590px;
    height: 40px;
    font-size: large;
    text-align: center;
}

/**
 * Button to send the new chat message to the stream
 */

#btn-sendmsg {
  padding: 10px;
  height: 50px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
}

/**
 * Add correct spacing between color radio buttons
 */

#addingspace {
    letter-spacing: 2px;
    font-size: 22px;
    padding-left: 200px;
    margin: 0 auto;
}

/**
 * Send new chat message container
 */

.newmessages {
  height: 100px;
  width: 900px;
}

#sendoptions {
    font-size: 25px;
    color: #595959;
    float: left;
}