/**
 * Default styles 
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/**
 * HTML5 display-role reset for older browsers
 */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

section {
    display: inline-block;
    margin: 0 1.5%;
    width: 100%;
}
body {
    margin-top: 30px;
    line-height: 1;
}
ol, ul, li {
     list-style-type: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*.loginForm {
    float: left;
    margin-top: 20px;
    height: 200px;
    width: 200px;
}
*/
.loginForm input {
  /*width: 40px;*/
}

#chatlogin {
    height: 250px;
    width: 250px;
}

/**
 * Chatroom Styles - Container styles for workspace
 */

.container {
    margin: 0 auto;
    width: 980px;
    text-align: center;
}

/**
 * Body tag styles
 */

body {
  font-family: "Times New Roman", Times, serif;
  height: 100%;
  width: 100%;
}

/**
 * Headers
 */

h1 {
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding-right: 370px;
}

#chatlogin h1 {
    font-size: 20px;
}

/**
 * Chatroom top bar 
 */

.chatroom {
    margin-left: 20px;
    margin-bottom: 20px;
}

/**
 * Chat color swatch 
 */

.buttons {
    padding: 20px 0 20px 10px;
    height: 40%;
    width: 99%;
    background-color: #f2f2f2;
    border-radius: 5px;

     /** 
      * Individual browser styles
      * For browsers that do not support gradients 
      */
    background: #8e9eab; 
    /**
     * For Safari 5.1 to 6.0 
     */
    background: -webkit-linear-gradient(#8e9eab, #eef2f3); 
    /**
     * For Opera 11.1 to 12.0
     */
    background: -o-linear-gradient(#8e9eab, #eef2f3); 
    /**
     * For Firefox 3.6 to 15 
     */
    background: -moz-linear-gradient(#8e9eab, #eef2f3); 
    /**
     * Standard syntax 
     */
    background: linear-gradient(#8e9eab, #eef2f3);
  }

 /**
  * Same styles for each navigation button 
  */

.chatroom button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

/**
 * Set the background color of each button in nav bar
 */

#red {
    background-color: #CD5C5C;
}
#blue {
    background-color: #0000cc;
}
#green {
    background-color: #006600;
}
#yellow {
    background-color: #e6e600;
}

/**
 * Display chatroom messages
 */

/**
 * Test data
 */

.msg {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 5px;
}

/**
 * Container for all chat messages from the server
 */

#messagecontainer {
    margin-left: 20px;
    background-color: #ebf0fa;
    border-radius: 10px;
    width: 95%;
}

#messages {
    
    
}

.messagelisting {
    float: left;
    background-color: gray;
}

/**
 * Display current chat messages from the server
 */

.singlemessage {
    text-align: left;
    font-size: 23px;
    height:40px;
    width: 93%;
    margin: 20px;
    border-style: groove;
    border-color: #e6e6e6;
    color: #595959;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
}

/**
 * Input area for the new chat message to the stream
 */

#sendmessage {
    width: 75%;
    padding: 15px 47px;
    margin: 5px 10px 10px 10px;
    text-align: left;
    font-size: 20px;
}

/**
 * Button to send the new chat message to the stream
 */

#sendmsg {
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
}

#userSendMessage {


}

/**
 * Add correct spacing between color radio buttons
 */

#addingspace {
    letter-spacing: 2px;
    font-size: 22px;
    padding-left: 200px;
    margin: 0 auto;
}

/**
 * Send new chat message container
 */

.sendoptions {
    font-size: 20px;
    color: #595959;
    padding-left: 13px;
    float: left;
}