

<section class='loginTemplate'>
	<div id='login'>
	  <h1><span id='loginHeader'>User Login</span></h1>
	  <form class='loginForm'>
	    <div id='loginInput'><input type='text' placeholder='Enter user name' ng-model='auth.user.username' autofocus required></div>
	    <div><input type='password' ng-model='auth.user.password' placeholder='Enter password' required></div>
	    <br>
	    <button ng-click="auth.login()">Login</button>
	  </form>
	  <br>
	  <a href='/signup'><span id='loginSignUp'><strong>Join now</strong></span></a>
	</div>
</section>

