

<section class='signupTemplate'>
	<div id='signup'>
	  <h1><span id='signupHeader'>Sign Up</span></h1>
	  <form class='signUpForm'>
	  	<div id='signupInput'><input type='text' placeholder='Enter user name' ng-model='auth.user.username' autofocus required></div>
	    <div><input type="password" placeholder='Enter password' ng-model='auth.user.password' required></div>
	    <br>
	    <button  ng-click='auth.signUp()'>Sign Up</button>
	  </form>
	  <br>
	  <a href='/login'><span id='signUpLogin'><strong>Login</strong></span></a>
	</div>
</section>

