<div class='container'>
	<div class='buttons'>
		<nav class='chatroom'>
			<h1>CHATROOMS</h1>
			<button id='red'>Red</button>
			<button id='blue'>Blue</button>
			<button id='green'>Green</button>
			<button id='yellow'>Yellow</button>
		</nav>
	</div>

	<!-- Test dummy messages objects -->
	<div id='messagecontainer'>
		<div class='msg' ng-init="messages=[ { sessionID: 'alex01', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' }, { sessionID: 'dan02', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' }, { sessionID: 'ridwan03', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' }, { sessionID: 'nick04', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' } ] ">

			<!-- Display Test Messages for dev only -->
			<div id='messages' ng-repeat='message in messages'> 
					<p class='singlemessage'>
						{{ message.sessionID }}
						{{ message.message }}
						{{ message.dateStamp }}
						{{ message.timeStamp }}
					</p>
			</div>
		</div>
	

		<!-- Input area for message to add to group chat -->
		<div>
		<!-- Form to handle new chat messages to be added to the chat stream -->
			<form class='sendoptions'>
				<span id='addingspace'>Choose your chat palatte:</span>
			  Red <input type="radio" name="color" value="red" checked>
			  Blue <input type="radio" name="color" value="blue" checked>
			  Green <input type="radio" name="color" value="green" checked>
			  Yellow <input type="radio" name="color" value="yellow" checked><br>
				<input id='sendmessage' name='messageInput' placeholder='Send your message' ng-model='name' autofocus/>
				<button id='sendmsg'>Send</button>
			</form>		
	 </div>
=======
  <div class='buttons'>
    <nav class='chatroom'>
      <h1>CHATROOMS</h1>
      <button id='red'>Red</button>
      <button id='blue'>Blue</button>
      <button id='green'>Green</button>
      <button id='yellow'>Yellow</button>
    </nav>
  </div>

  <div class='buttons'>
    <nav class='chatroom'>
      <h1>CHATROOMS</h1>
      <button id='red'>Red</button>
      <button id='blue'>Blue</button>
      <button id='green'>Green</button>
      <button id='yellow'>Yellow</button>
    </nav>
  </div>

  <!-- Test dummy messages objects -->
  <div id='messagecontainer'>
    <div class='msg'>
      <!-- Display messages in user/content/created_at format -->
      <div id='messages' ng-repeat='message in messagU'> 
          <p class='singlemessage'>
            {{ message.username }}
            {{ message.content }}
            {{ message.created_at }}
          </p>
      </div>
    </div>
    <!-- Input area for message to add to group chat -->
    <div>
    <!-- Form to handle new chat messages to be added to the chat stream -->
      <form class='sendoptions'>
        <span id='addingspace'>Choose your chat palette:</span>
        Red <input type='radio' name='color' value='red' ng-model='colorChoice'>
        Blue <input type='radio' name='color' value='blue' ng-model='colorChoice'>
        Green <input type='radio' name='color' value='green' ng-model='colorChoice'>
        Yellow <input type='radio' name='color' value='yellow' ng-model='colorChoice'><br>
        <input id='userSendMessage' placeholder='Choose your name' ng-model='userInfo'/>
        <input id='sendMessage' name='messageInput' placeholder='Send your message' ng-model='msgInfo' autofocus/>
        <button id='sendmsg' ng-click='sendMessage(userInfo, msgInfo, colorChoice); getMessages()'>Send</button>
      </form>   
   </div>
 </div>