<br><br><br><br><br>
<div class='container' ng-init='getMessages()'>
  <div class='buttons'>
    <nav class='chatroom'>
      <h1>CHATROOMS</h1>
      <button class='button' id='all' ng-click='allFilter()'>All</button>
      <button class='button' id='red' ng-click='redFilter()'>Red</button>
      <button class='button' id='blue' ng-click='blueFilter()'>Blue</button>
      <button class='button' id='green' ng-click='greenFilter()'>Green</button>
      <button class='button' id='yellow' ng-click='yellowFilter()'>Yellow</button>
      <p>Below are all the {{ color }} messages:</p>
    </nav>
  </div>
  <div id='messagecontainer'>
    <div class='msg'>
      <!-- Display messages in user/content/created_at format -->
      <div id='messages' ng-repeat='message in messagU' ng-if="color === message.color || color === ''">
          <p class='singlemessage'>
            {{ message.username }}
            posted
            {{ message.content }}
            at
            {{ message.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}
          </p>
      </div>
    </div>
    <!-- Input area for message to add to group chat -->
    <div>
    <!-- Form to handle new chat messages to be added to the chat stream -->
      <form class='sendoptions'>
        <span id='addingspace'>Choose your chat palette:</span>
        Red <input type='radio' name='color' value='red' ng-model='colorChoice'>
        Blue <input type='radio' name='color' value='blue' ng-model='colorChoice'>
        Green <input type='radio' name='color' value='green' ng-model='colorChoice'>
        Yellow <input type='radio' name='color' value='yellow' ng-model='colorChoice'><br>
        <input id='userSendMessage' placeholder='Choose your name' ng-model='userInfo'/>
        <input id='sendMessage' name='messageInput' placeholder='Send your message' ng-model='msgInfo' autofocus/>
        <button id='sendmsg' ng-click='sendMessage(userInfo, msgInfo, colorChoice); getMessages()'>Send</button>
      </form>   
   </div>
 </div>