<div id='chat' ng-init="colors=['Red', 'Blue', 'Green', 'Yellow']">
		<h1>CHAT</h1>
		<nav class='chatroom'>
			<ul class='chatcolors'>
				<!-- ng-repeat iterates through the colors array and displays a button -->
				<li ng-repeat='color in colors'> 
					<button>{{ color }}</button>
	  		</li>
		</nav>
	</div>

	<!-- Test Messages Objects -->
	<div id='msg' ng-init="messages=[ { sessionID: 'alex01', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' }, { sessionID: 'alex01', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' }, { sessionID: 'alex01', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' }, { sessionID: 'alex01', message: 'Hello, World!', dateStamp: '07/11/2016', timeStamp: '18:33:26' } ] ">

	<!-- Test Messages -->
	<ol>
			<li ng-repeat='message in messages'>
				<p>{{ message.sessionID }}</p>
				<p>{{ message.message }}</p>
				<p>{{ message.dateStamp }}</p>
				<p>{{ message.timeStamp }}</p>
			</li>
		</ol>
		
	</div>

  <!-- Color Buttons -->
	<div id='colorChoice'>
		<button>Red</button>
		<button>Blue</button>
		<button>Green</button>
		<button>Yellow</button>
	</div>

	<!-- Input area for message -->
	<div>
		<input name='messageInput' placeholder='Send your message' ng-model='name' autofocus />
	</div>