

/**
 *
 *  App wide styles
 *
**/
body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0;

  font: 16px 'Montserrat', sans-serif;
  
  color: black;
  background-color: #e3e5f9;
}


h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}


a {
  color: blue;
}


#appHeader {
  align-self: stretch;

  padding: .75rem 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
  margin: 0;
  
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.67);

  background-image: url('/assets/top-bar.jpg')
}


/**
 *
 *  Login page styles
 *
**/
.auth {
  /*width: calc(100vw - 10rem);*/

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 3rem;
  border: 1px solid #636363;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .6);

  background-color: #ff3c3c;
}


  .auth h1 {
    margin: .5rem 0 1.5rem;

    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(236, 205, 205, 0.4);
  }


  .auth form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.5rem;
  }


    .auth form input {
      font-size: 1rem;
    }


    .auth form input[required] {
      padding: .3rem .5rem;
      border: 1px solid #5a5959;
      border-radius: 2px;
      box-shadow: inset 0 0 3px #717171;
      outline: none;

      font-weight: 500;

      background-color: #f7f7f7;
    }


    .auth form input[required]:focus {
      box-shadow: 0 0 5px 2px #0095ff;
    }


    .auth form input:nth-child(2) {
      margin: 1rem 0 2.5rem; 
    }


    .auth form input:last-child {
      padding: .3rem .75rem .4rem;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);

      font-size: 1.25rem;
      font-weight: 500;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.86);

      color: #fdfdfd;
      background-color: #08bd0e;

      cursor: pointer;

      transition: box-shadow .25s ease-out;
    }


    .auth form input:last-child:hover {
      box-shadow: 0 0 10px 1px black;
    }


  .auth a {
    margin-bottom: 1rem;

    font-weight: 600;
    text-shadow: 0 0 0 rgba(101, 120, 255, 0.54);

    color: #001bde;

    transition: text-shadow .25s ease-out;
  }


  .auth a:hover {
    text-shadow: 0 0 5px rgba(101, 120, 255, 0.54);
  }


/**
 * Sign Up Template styles - section container
 */

.signupTemplate {
    float: left;
    align-content: center;
    margin-top: 20px;
    margin-left: 470px;
    height: 280px;
    width: 400px;
    border-radius: 5px;
    background: linear-gradient(#8e9eab, #eef2f3);
}



/**
 * Sign Up Template styles - section container
 */

.signupTemplate {
    float: left;
    align-content: center;
    margin-top: 20px;
    margin-left: 470px;
    height: 280px;
    width: 400px;
    border-radius: 5px;
    background: linear-gradient(#8e9eab, #eef2f3);
}

/**
 * Signin form styles - username, password, and login button
 */

.signUpForm input {
  height: 30px;
  width: 380px;
  font-size: large;
  text-align: center;
  margin-left: 2px;
}

#signupInput {
  padding-bottom: 10px;
}

.signUpForm button {
  height: 30px;
  width: 386px;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;

}

.signupForm a {
  font-size: large;
}

#signupHeader {
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 130px;
  padding-bottom: 20px;
}

#signup {
  padding: 20px 5px;
}

#signUpLogin {
  font-size: larger;
  padding-top: 20px;
  margin-left: 85px;
}


/**
 * Chatroom top bar 
 */

.chatroom {
    margin-left: 20px;
    margin-bottom: 20px;
}

.chatroom h1 {
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding-right: 20px;
    text-align: center;
}

/**
 * Chat buttons color 
 */

.buttons {
  float: left;
  /*padding: 20px 20px;*/
  height: 100%;
  width: 99%;
  background-color: #f2f2f2;
  border-radius: 5px;

   /** 
    * Individual browser styles
    * For browsers that do not support gradients 
    */

  background: #8e9eab; 
  /**
   * For Safari 5.1 to 6.0 
   */
  background: -webkit-linear-gradient(#8e9eab, #eef2f3); 
  /**
   * For Opera 11.1 to 12.0
   */
  background: -o-linear-gradient(#8e9eab, #eef2f3); 
  /**
   * For Firefox 3.6 to 15 
   */
  background: -moz-linear-gradient(#8e9eab, #eef2f3); 
  /**
   * Standard syntax 
   */
  background: linear-gradient(#8e9eab, #eef2f3);
  }

 /**
  * Same styles for each navigation button 
  */

.chatroom button {
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

/**
 * Set the background color of each button in nav bar
 */


#all, #logout {
    background-color: none;
    font-size: large;
}

#red {
    background-color: red;
    font-size: large;
}

#blue {
    background-color: blue;
    font-size: large;
}

#green {
    background-color: green;
    font-size: large;
}

#yellow {
    background-color: yellow;
    font-size: large;
}

/**
 * Display chatroom messages
 */

.scrollable {
  overflow-x: scroll;
  height: 400px;
  width: 975px;
}

.scrollable {
  overflow-x: scroll;
  height: 400px;
  width: 975px;
}

.msg {
    float: left;
    height: 50%;
    width: 100%;
    position:relative;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    font-size: 30px;
    margin: 0 auto;
}

/**
 * Container for all chat messages from the server
 */

ul {
  width: 100%;
}

#messagecontainer {
    margin-left: 5px;
    /*padding-right: 30px;*/
    background-color: #ebf0fa;
    border-radius: 10px;
    height: 500px;
    width: 970px;
}

.messagelisting {
    float: left;
    background-color: gray;
}

/**
 * Styles each message
 */

.singlemessage {
    text-align: left;
    font-size: 23px;
    height:30px;
    width: 93%;
    margin: 20px;
    border-style: groove;
    border-color: #e6e6e6;
    color: #000000;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
}

/**
 * Input area for the new chat message to the stream
 */

#userid {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  font-size: large;
  text-align: center;
}

#messagetosend {
    width: 590px;
    height: 40px;
    font-size: large;
    text-align: center;
}

/**
 * Button to send the new chat message to the stream
 */

#btn-sendmsg {
  padding: 10px;
  height: 50px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
}

/**
 * Add correct spacing between color radio buttons
 */

#addingspace {
    letter-spacing: 2px;
    font-size: 22px;
    padding-left: 200px;
    margin: 0 auto;
}

/**
 * Send new chat message container
 */

.newmessages {
  height: 100px;
  width: 900px;
}

#sendoptions {
    font-size: 25px;
    color: #595959;
    /*padding-left: 13px;*/
    float: left;
}