


/* --------------------

		App wide styles

----------------------- */
body {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin: 0;

	font: 16px 'Montserrat', sans-serif;
	
	color: black;
	background-color: #e3e5f9;
}


h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}


#app-header {
	align-self: stretch;

	padding: .75rem 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, .8);
	margin: 0 0 1rem;

	font-size: 3rem;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);

	background-image: url('/assets/top-bar.jpg')
}



/* -----------------------------

		Login/Signup page styles

-------------------------------- */
.auth {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1rem 3rem;
	border: 1px solid #636363;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .6);

	background-color: #f92e2e;
}


	.auth h1 {
		margin: .5rem 0 1.5rem;

		font-size: 2rem;
	}


	.auth form {
		height: 12rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 1rem;
	}


		.auth form div {
			display: flex;
			flex-direction: column;
			align-items: center;
			}

		.auth form input {
			font-size: 1rem;
		}


		.auth form input[required] {
			padding: .3rem .5rem;
			border: 1px solid #5a5959;
			border-radius: 5px;
			box-shadow: inset 0 0 3px #717171;
			outline: none;

			font-weight: 500;

			background-color: #f7f7f7;
		}


		.auth form input[required]:focus {
			box-shadow: 0 0 7px 1px #0095ff;
		}


		.auth form input[placeholder='username'] {
			margin-bottom: 1rem;
		}


		.auth form p {
			width: 100%;
			text-align: center;
		}


		.auth form input[type='submit'] {
			padding: .2rem 1rem .3rem;
			border: none;
			border-radius: 5px;
			box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);
			outline: none;

			font-size: 1.25rem;
			font-weight: 500;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

			color: #fdfdfd;
			background-color: #08bd0e;

			cursor: pointer;

			transition: box-shadow .25s ease-out;
		}


		.auth form input[type='submit']:hover {
			box-shadow: 0 0 10px 1px black;
		}


	.auth a {
		margin-bottom: 1rem;

		font-weight: 500;

		color: #0620de;

		transition: text-shadow .25s ease-out;
	}


	.auth a:hover {
		text-shadow: 0 0 10px rgb(101, 120, 255);
	}



/* --------------------

		Chat view styles

----------------------- */
#chat-container {
	position: relative;

	min-width: 650px;
	max-width: 70vw;
	width: 70vw;

	padding: 1.5rem 3rem 1rem;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .6);

	background-color: #a9c0ff;
}

	#chat-header {
		display: flex;
		justify-content: space-between;
	}



/* ----------
		buttons
	----------- */
#chat-container button {
	position: relative;

	padding: .3rem .75rem;
	border-radius: 5px;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
	outline: none;
	margin: 0 .25rem;

	font-size: 1rem;
	font-weight: 500;

	cursor: pointer;

	transition: all .25s ease-out;
}


#chat-container button:hover {
	box-shadow: 0 0 10px 1px #383838;
}

#chat-container button.active {
	transform: scale(1.25);
}

.clear-button {
	border: 1px solid transparent;
	background-color: white;
}

.red-button {
	border: 1px solid #484848;
	background-color: red;
}

.blue-button {
	text-shadow: 0 0 2px rgba(253, 253, 253, 0.18);
	border: 1px solid #3a3a3a;
	background-color: #4b4bff;
}

.green-button {
	border: 1px solid #545454;
	background-color: #13bb13;
}

.yellow-button {
	border: 1px solid #737373;
	background-color: yellow;
}



/* ------------
		messages
	------------- */
#messages-container {
	position: relative;

	box-sizing: border-box;
	width: calc(100% - 2rem);
	min-height: 275px;
	height: 50vh;

	padding: 1rem;
	border-radius: 5px;
	border: 1px solid #616161;
	box-shadow: inset 0 0 15px #292929;
	margin: 1.5rem auto 1rem;

	background-color: #a3a9b7;

	overflow-x: hidden;
	overflow-y: scroll;
}


.message {      
	box-sizing: border-box;

	width: calc(100% - 2rem);

	padding: .75rem 1rem;
	border-radius: 3px;
	box-shadow: 0 0 15px #292929;
	margin: 1.5rem;
}


.message.clear {
	border: 1px solid #7b7b7b;
	background-color: #f1f1f1;
}

.message.red {
	border: 1px solid #4e4e4e;
	background-color: #ff3131;
}

.message.blue {
	border: 1px solid #4e4e4e;
	background-color: #4e6cff;
}

.message.green {
	border: 1px solid #4e4e4e;
	background-color: #13bb13;
}

.message.yellow {
	border: 1px solid #4e4e4e;
	background-color: #ffff51;
}

.message span {
	display: inline-block;
}

.message span:first-child {
	width: calc(100% - 120px);
	-webkit-hyphens: auto;
		 -moz-hyphens: auto;
			-ms-hyphens: auto;
					hyphens: auto;
}

.message span:last-child {
	float: right;
}


	

/* ----------------
		message input
	----------------- */
#chat-container form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


	#chat-container form div {
		margin: .5rem 0;
	}


	#chat-container form div:first-child {
		display: flex;
		align-items: center;
		align-self: stretch;
	}


		#chat-container form div:first-child input {
			box-sizing: border-box;
			height: 31px;
			flex: 1 1 auto;

			padding: .3rem .5rem .4rem;
			border: 1px solid #8c8c8c;
			border-radius: 5px 0 0 5px;
			box-shadow: inset 0 0 3px #717171;
			outline: none;

			font-size: 1rem;
			font-weight: 500;

			background-color: #f7f7f7;
		}


		#new-message div:first-child > #send-message {
			height: 31px;

			border: 1px solid #8c8c8c;
			border-left-width: 0;
			border-radius: 0 5px 5px 0;
			box-shadow: none;
			margin: 0;

			background-color: #ffce82;

			transition: background-color .5s ease-out;
		}


		#new-message div:first-child > #send-message:disabled {
			background-color: #afafaf;
		}

		#new-message div:first-child > #send-message:hover:disabled {
			background-color: #afafaf;
		}

		#new-message div:first-child > #send-message:hover {
			background-color: #6b6b6b;
		}


		#chat-container form div span {
			margin-right: .5rem;
		}


/* ----------------
		logout button
	----------------- */
#logout {
	position: absolute;
	bottom: .75rem;
	left: .75rem;

	display: flex;
	align-items: center;
}


	#logout span {
		font-size: .9rem;
	}


	#chat-container #logout button{
		padding: .1rem .4rem .2rem;
		border: none;
		border-radius: 3px;
		margin-left: .5rem;

		font-size: .8rem;
		font-weight: 500;

		background-color: #ffce82;
	}


